@charset "UTF-8";
/* ========================================
MAIN CSS FILE
CREATED: 2022-04-18
===========================================
PROJECT: Festa Junina de Votorantim 2022
BY: João Victor Garcia
=========================================== */
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Poppins:wght@300;400;600;800&display=swap');
:root{
    font-size: 16px;
    --standard-dark: #262626;
    --maximum-red: #e31918;
    --venetian-red: #cc1616;
    --sunglow: #ffcb00;
    --orange-yellow: #e5b600;
    --space-cadet: #202249;
}
html{
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f0f0f0;
}
main, article{
    margin-top: 9em;
}
.main-title{
    font-size: 3em;
    font-weight: 800;
    color: var(--standard-dark);
    margin-bottom: 0rem;
}
.main-title .hero-effect{
    color: var(--orange-yellow);
    font-style: italic;
}
.sub-title{
    font-size: 1.3em;
    font-weight: 400;
}
/* NAVBAR CONTENT */
header{
    overflow-x: hidden;

}
header .left-nav{
    border: 10px solid var(--orange-yellow)
}
header .left-nav .text-header{
    margin-top: 15em;
    padding: 4em 3.5em;
    margin-bottom: 5em;
}
header .left-nav .text-header .main-title{
    font-size: 5.5em;
    font-weight: 800;
    color: var(--space-cadet)
}
header .right-nav{
    padding-left: 0;
}
header .right-nav img{
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 55em;
}
nav.navbar{
    padding: 2em;
    background-color: transparent;
    font-size: 1.1em;
    transition: .3s ease;
}
nav.navbar .navbar-brand{
    padding: 0;
}
nav.navbar .navbar-brand img{
    width: auto;
    height: 125px;
    transition: .3s ease;
}
/* NAVBAR UL */
.navbar-nav .nav-item{
    display: flex;
    align-items: center;
    transition: .3s ease;
}
.navbar-nav .nav-item .nav-link{
    color: var(--orange-yellow);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0em 0.7em;
    transition: .3s ease;
}

/* NAVBAR IF IS SCROLL OR NOT IN INDEX */
nav.navbar.nav-scroll,
nav.navbar.nav-standard{
    padding: 0em;
    background-color: var(--orange-yellow);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nav.navbar.nav-scroll .navbar-brand img,
nav.navbar.nav-standard .navbar-brand img{
    width: auto;
    height: 75px;
    transition: .3s ease;
}
nav.navbar.nav-scroll .navbar-nav .nav-item .nav-link,
nav.navbar.nav-standard .navbar-nav .nav-item .nav-link{
    font-size: 1em;
    color: var(--space-cadet);
}
button.nav-toggler + .collapse{
    background-color: var(--space-cadet);
}

/* NAVBAR HOVERS */
nav.navbar .navbar-nav .nav-item:hover .nav-link{
    color: var(--sunglow);
}
nav.navbar.nav-scroll .navbar-nav .nav-item:hover .nav-link,
nav.navbar.nav-standard .navbar-nav .nav-item:hover .nav-link{
    border-bottom: 1px solid var(--space-cadet);
    color: var(--space-cadet);
}
.btn-standard{
    text-decoration: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--orange-yellow);
    border: 1px solid var(--sunglow);
    padding: 0.3em 1em;
    font-size: 1.2em;
    color: var(--standard-dark);
    font-weight: 800;
    transition: .3s ease;
}
.btn-standard:hover{
    color: var(--standard-dark);
    background-color: var(--sunglow);
}

/* SHOW PAGE CSS */
.shows-content .sub-title{
    margin-top: -5px;
}
.week-shows{
    position: relative;
}
.week-shows .back-img{
    position: absolute;
    top: 10px;
    left: -5%;
    width: 110%;
    z-index: -1;
}
.week-text{
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
}
.week-inside{
    text-align: center;
    text-transform: uppercase;
}
.week-inside h3{
    font-size: 2.5em;
    margin-bottom: 0rem;
    margin-block-end: 0em;
    font-weight: 800;
    transition: .3s ease;
}
.week-inside p{
    font-size: 1.3em;
}

.week-inside:hover h3{
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.35);
    font-size: 2.6em;
}

/* ABOUT PAGE CSS */
.pre-text{
    margin: 8rem 0;
}
.info-text h3, .show-informations h3{
    font-weight: 800;
    text-decoration: underline;
}
.flow-text{
    font-size: 1.2em;
    font-weight: 400;
}
.flow-text span{
    color: var(--space-cadet);
    font-weight: 800;
}
.info-text .flow-text a{
    color: var(--space-cadet);
    font-weight: 800;
    text-decoration: underline;
}
.map-frame iframe{
    width: 100%;
    height: 100%;
}

/* CONTATO CSS */
.card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    flex-direction: row;
}

.card .contato-img{
    text-align: right;
    padding-right: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
button.contact-btn{
    background-color: var(--orange-yellow);
    border: 1px solid var(--sunglow);
    padding: 0.3em 1em;
    font-size: 1.2em;
    color: var(--standard-dark);
    font-weight: 800;
    transition: .3s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
button.contact-btn:hover{
    background-color: var(--sunglow);
    border: 1px solid var(--sunglow);
    color: var(--standard-dark);

}

/* FOOTER CSS */
footer{
    background-color: var(--orange-yellow);
    margin-top: 8em;
    padding: 2.5em 1.5em 4em 1.5em;
    position: relative;
}
footer nav .footer-list li a{
    font-size: 1.1em;
    color: var(--standard-dark);
    font-weight: 600;
}
footer .copyright{
    background-color: var(--standard-dark);
    color: var(--orange-yellow);
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width:1101px) and (max-width:1400px){
    header .left-nav .text-header{
        margin-top: 10em;
    }
    header .left-nav .text-header .main-title{
        font-size: 4em;
    }
}
@media screen and (min-width:990px) and (max-width:1100px){
    header .left-nav .text-header{
        margin-top: 5em;
    }
    header .left-nav .text-header .main-title{
        font-size: 3.5em;
    }
}
@media screen and (max-width:989px){
    header .left-nav{
        border: none;
    }
    header .left-nav .text-header{
        margin-top: 7em;
    }
    
}